### Q1 : Print Function

Without using any string methods, try to print the following:
123....n

In [1]:
n = int(input())
for i in range(n):
    print(i+1,end="")

5
12345

### Q2 : List Comprehension

You are given three integers  and  representing the dimensions of a cuboid along with an integer . Print a list of all possible coordinates given by  on a 3D grid where the sum of  is not equal to a given fourth number. Here, . Please use list comprehensions rather than multiple loops, as a learning exercise.

In [6]:
x = int(input())
y = int(input())
z = int(input())
n = int(input()) 
ans = [[i, j, k] for i in range(x + 1) for j in range(y + 1) for k in range(z + 1) if i + j + k != n]
print (ans)

1
1
1
3
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 1], [1, 0, 0], [1, 0, 1], [1, 1, 0]]

### Q3 : Second Largest Score

Given the participants' score sheet for your University Sports Day, you are required to find the runner-up score. You are given  scores. Store them in a list and find the score of the runner-up.

So if 4,5,6 are scores, 5 is second highest score, hence runner up score

In [15]:
n = int(input())
arr = map(int, input().split())
P = list(map(int, arr))
Q = set(P)
R = sorted(list(Q))
print (R[-2])

4
3 1 5 9
5

### Q4: Nested Lists

Given the names and grades for each student in a class of  students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.

Note: If there are multiple students with the second lowest grade, order their names alphabetically and print each name on a new line.

### Following code doesnt work if marks are say 10,10,11,11, 12 coz we took second highest score to be second element

In [ ]:
marks = []
for _ in range(int(input())):
    name = input()
    score = float(input())
    student =[name,score]
    marks.append(student)
def Sort(sub_li):
    # key is set to sort using second element of 
    # sublist lambda has been used
    sub_li.sort(key = lambda x: x[1])
    return sub_li
marks = Sort(marks)
second_lowest_grade = marks[1][1]
# loop on ordered names (alpabetically) for students having the second lowest grade:
for name in sorted(n for n, g in marks if g == second_lowest_grade):
    print(name)

In [45]:
marks = []
student_name=[]
student_score=[]
second_lowest_names=[]
for _ in range(int(input())):
    name = input()
    score = float(input())
    student =[name,score]
    student_name.append(name)
    student_score.append(score)
    marks.append(student)
    
def Sort(sub_li):
    # key is set to sort using second element of 
    # sublist lambda has been used
    sub_li.sort(key = lambda x: x[1])
    return sub_li

marks = Sort(marks)

count = student_score.count(min(student_score))
for i in range(count):
    student_score.remove(min(student_score))

secondHigh = min(student_score)

output = [x for x in marks if x[1] == secondHigh]
for i in output:
    second_lowest_names.append(i[0])
    second_lowest_names.sort()
for name in second_lowest_names:
    print (name)

3
tanvi
34
srish
12
janvi
56
[['tanvi', 34.0]]
tanvi

### Q5: Find the percentage

In [56]:
# number of students
n = int(input())
student_marks = {}
for _ in range(n):
    name, *line = input().split()
    scores = list(map(float, line))
    student_marks[name] = scores
query_name = input()
query_marks=student_marks[query_name]
average = sum(query_marks)/len(query_marks)
average="{:.2f}".format(average)
print(average)

3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Malika
56.00

### Q6: Validating Roman Numerals

### Q7: Lists

Consider a list (list = []). You can perform the following commands:

insert i e: Insert integer  at position .
print: Print the list.
remove e: Delete the first occurrence of integer .
append e: Insert integer  at the end of the list.
sort: Sort the list.
pop: Pop the last element from the list.
reverse: Reverse the list.
Initialize your list and read in the value of  followed by  lines of commands where each command will be of the  types listed above. Iterate through each command in order and perform the corresponding operation on your list.

In [2]:
N = int(input())
the_list = list()
for cmd in range(N):
    input_cmd = input().split()
    if input_cmd[0] == 'print':
        print(the_list)
        
    elif input_cmd[0] == 'insert':
        the_list.insert(int(input_cmd[1]), int(input_cmd[2]))
        
    elif input_cmd[0] == 'remove':
        the_list.remove(int(input_cmd[1]))
        
    elif input_cmd[0] == 'append':
        the_list.append(int(input_cmd[1]))
        
    elif input_cmd[0] == 'sort':
        the_list = sorted(the_list)
            
    elif input_cmd[0] == 'pop':
        the_list.pop()
        
    elif input_cmd[0] == 'reverse':
        the_list.reverse()

12
insert 0 5
insert 1 10
insert 0 6
print
[6, 5, 10]
remove 6
append 9
append 1
sort
print
[1, 5, 9, 10]
pop
reverse
print
[9, 5, 1]

### Q8: Tuples

Given an integer, , and  space-separated integers as input, create a tuple, , of those  integers. Then compute and print the result of hash(t)

In [18]:
n = int(input())
integer_list = map(int,input().split(' '))
t = tuple(integer_list)
print(hash(t))

2
1 2
-3550055125485641917

### Q9: Swap Case

hACKERrANK.COM PRESENTS "pYTHONIST 2".

In [7]:
def swapcase(s):
    swap=""
    for letter in s:
        if letter.islower()==True:
            swap=swap+letter.upper()
        elif letter.isupper()==True:
            swap=swap+letter.lower()
        else:
            swap+=letter
    return swap
word = input("Enter word")
swapcase(word)

Enter wordTaNvI 23

'tAnVi 23'

### Q10: String Split and Join

Split the string on a "" and join on a '-' . Eg: tanvi bagadia becomes tanvi-bagadia

In [13]:
def split_and_join(line):
    split_word = line.split(" ")
    join_word = "-".join(split_word)
    return join_word
split_and_join("this is a string")

'this-is-a-string'

### Q11: What's your name?

given first name and last name in two different inputs, give line having both in it

In [15]:
def print_full_name(first, last):
    # Write your code here
    print(f"Hello {first} {last}! You just delved into python")
first_name = input()
last_name = input()
print_full_name(first_name, last_name)

Tanvi
Bagadia
Hello Tanvi Bagadia! You just delved into python